---
import Tab from "src/components/tab.astro"


---
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/prism.css'>
    
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/custom-prism-css.css'>
    <script is:inline>
        const BASE_PATH = '/data/';

        const CONFIG = [
            {type: 'css', name: 'Page', data: ['page.css'] },
            {type: 'css', name: 'Setup', data: ['setup.css'] },
            {type: 'css', name: 'Interface', data: ['interface.css'] },
            {type: 'css', name: 'Variabless', data: ['variables.css'] },
            {type: 'css', name: 'Typogrphy', data: ['typogrphy.css'] },
            {type: 'css', name: 'Structure', data: ['structure.css'] },
            {type: 'md', name: 'Markdown', data: ['md.md'] } 
            
        ];
    </script>
</head>
<body id="body">
    <main id="interface">
        <h1>PIXEL AND PAPER</h1>
        <nav id="nav">
        </nav>




        <div id="tabs">
            {/* <Tab tabName="CSS" tabId="tab-css" tabClass="language-css" /> */}
            
       
    </main>
    <script is:inline type="module">
        
        const loadMyFile = async (filePath) => {
        try {
            // Request the file from your local server
            const response = await fetch(filePath);
            
            // Convert the response to text
            const content = await response.text();
            
            return content;
        } catch (err) {
            console.error("Error reading file:", err);
        }
    }

    const PROMISES = CONFIG.map(async ({type, name, data}) => {
        
        const content = await loadMyFile(`${BASE_PATH}${data[0]}`);

        return ({type: type, name: name, data: content});
    })

    // DATA is an array of {type: 'type, for example css or md', data: 'string content'}
    const DATA = await Promise.all(PROMISES);

    const nav = document.getElementById("nav");

    DATA.forEach((d, index) => {
        nav.innerHTML += `<span style="margin-right:2em;" class="tab-selector inactive-tab" data-id="${index}">${index}.${d.name.toUpperCase()}</span>`;
    });

    nav.innerHTML += `<span class="tab-selector inactive-tab" data-id="${DATA.length}">S.PDF PREVIEW</span>`;

    const tabs = document.getElementById('tabs');

    DATA.forEach((d, index) => {
        // const className = index == 0 ? "active" : "inactive"
        const className = "inactive";
        tabs.innerHTML += ` <div class="tab ${className}" data-id="${index}">
                <div class="tab-content">
                        <pre><code class="editable-tab" contenteditable="true" class="language-css" data-type=${d.type}>
                            ${d.data}
                    </code></pre>
                </div>
            </div>`;
    });

    tabs.innerHTML += `
    <div class="tab inactive" data-id="${DATA.length}">
    <div class="tab-content" id="preview">
    </div>
    </div>
    `;


    </script>
    <script is:inline type="module" src='/js/main.js'></script>
    {/* 
    
    <script is:inline src='/js/prism.js'></script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markdown.min.js"></script>
    */}
    <script>

    
    </script>
</body>
</html>